@import '../../styles/sizes';
@import '../../styles/breakpoints';

.section {
  font-family: 'Oxygen';
  color: white;
  margin-top: $medium;
  min-height: $fullHeight;

  .title {
    text-align: center;
  }
}

@media (max-width: $mediumScreen) {
  .section {
    text-align: justify;
  }
}
