$imperial: #222F3E;
$nobel: #B4B4B4;
$persimmon: #FF6057;
$sunglow: #FFBD2E;
$forestGreen: #27C93F;
$riverBed: #4A5C66;
$alabaster: #F9F9F9;

// Pallete
$level1: #CCDBDC;
$level2: #9AD1D4;
$level3: #80CED7;
$level4: #007EA7;
$level5: #003249;

$deepBlack: rgba(0, 0, 0, 0.2);
$lightShadow: rgba(128, 206, 215, 0.3);
$level3RGBA: rgba(128, 206, 215, 1);
