$fullHeight: 90vh;

$headerWidth: 40%;
$half: 50%;
$regularPercentage: 70%;
$most: 90%;
$full: 100%;

$tiny: 2px;
$small: 5px;
$defaultBorder: 7px;
$regular: 10px;
$medium: 20px;
$average: 30px;
$middle: 50px;
$tall: 70px;
$big: 80px;
$total: 100px;
$maxWidth: 200px;
$imageWidth: 250px;
$imageHeight: 350px;
$maxHeight: 700px;

$bigFont: 600;
$tallFont: 500;
