@import '../../styles/sizes';
@import '../../styles/others';
@import '../../styles/breakpoints';

.header {
  max-height: $fullHeight;
  max-width: $headerWidth;
  color: white;
  position: sticky;
  top: $small;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: $medium;
  font-family: "Oxygen";
  margin-left: $big;
  max-height: $maxHeight;

  .title {
    margin-bottom: $small;
    font-size: $middle;
    font-weight: bold;
  }

  .subtitle {
    margin-top: 0;
    font-size: $medium;
    font-weight: lighter;
  }

  .links {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    height: $total;
    font-size: $medium;
    margin-left: $medium;
    gap: $regular;

    .link {
      max-width: $maxWidth;

      &:before {
        content: ' \279C   ';
      }
      
      &:hover {
        transition: all $transitionTime;
        margin-left: $medium;
      }
    }
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
    color: white;

    .icon {
      width: $average;
      cursor: pointer;
    }
  }
}

@media (max-width: $mediumScreen) {
  .header {
    position: relative;
    max-width: unset;
    width: $regularPercentage;
    height: $fullHeight;
    margin: 0 auto;
  } 
}

@media (max-width: $smallScreen) {
  .header {
    padding-top: 0;
    text-align: justify;
    width: $most;
  }
}
