@import '../../styles/sizes';

.header {
  max-height: $fullHeight;
  max-width: $headerWidth;
  color: white;
  position: sticky;
  top: $small;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: $medium;
  font-family: "Oxygen";
  margin-left: $big;

  .title {
    margin-bottom: $small;
    font-size: $tall;
    font-weight: bold;
  }

  .subtitle {
    margin-top: 0;
    font-size: $average;
    font-weight: lighter;
  }

  .links {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    height: $total;
    font-size: $medium;
    margin-left: $medium;
    
    .link {
      max-width: 200px;

      &:before {
        content: ' \279C   ';
      }
      
      &:hover {
        transition: all $transitionTime;
        margin-left: $medium;
      }
    }
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
    color: white;

    .icon {
      width: $average;
      cursor: pointer;
    }
  }
}
