.header {
  max-height: 100vh;
  max-width: 50%;
  color: white;
  position: sticky;
  top: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .title {
    margin-bottom: 5px;
  }

  .subtitle {
    margin-top: 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
      color: white;
    }

    /* mouse over link */
    a:hover {
      color: white;
    }

    /* selected link */
    a:active {
      color: white;
    }
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
    text-decoration: none;
    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
      color: white;
    }

    /* mouse over link */
    a:hover {
      color: white;
    }

    /* selected link */
    a:active {
      color: white;
    }
  }
}
