@import '../../../styles/colors';
@import '../../../styles/others';
@import '../../../styles/sizes';
@import '../../../styles/breakpoints';

.card {
  padding: 0 $medium;
  border: $minimal solid $nobel;
  border-radius: $defaultBorder;
  padding-bottom: $medium;
  cursor: pointer;
  transition: all $transitionTime;
  margin-bottom: $middle;

  &:hover {
    box-shadow: 0 $regular $average $lightShadow;
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;

    .title {
      margin-bottom: 0;
    }
  }

  .place {
    margin-top: 0;
    color: $level3;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;

    .tag {
      border: $minimal solid $level3;
      color: $level3;
      margin: 0 $small;
      padding: $small;
      font-size: $here;
      border-radius: $medium;
    }
  }
}

@media (max-width: $mediumScreen) {
  .card {
    text-align: justify;
  }
}
