@import '../styles/sizes';

.container {

  display: flex;
  justify-content: space-between;
  position: relative;

  .section {
    width: 50%;
    padding: $middle;
  }

  .right {
    color: black;
  }
}

