@import '../../styles/sizes';

.container { 
  font-family: 'Oxygen';
  color: white;
  min-height: $fullHeight;
  margin-top: 200px;

  .title {
    text-align: center;
    margin-bottom: $middle;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $middle;
  }

  .modalSection {
    display: flex;
  }
}
